<?xml version="1.0"?>
<model>
  <name>maze_1_8m</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>My Name</name>
    <email>me@my.email</email>
  </author>

  <description>
    A 1.8m x 1.8m maze with hard walls (black) and soft tape obstacles (blue).
  </description>
</model>
